In [7]:
import pandas as pd

In [11]:
data = pd.read_csv('analyze.csv')
data

        0
0      10
1      10
2      10
3      10
4      10
...    ..
37491   5
37492  16
37493  13
37494  28
37495  12

[37496 rows x 1 columns]

In [27]:
analyze = []
analyze.append(['小于10秒',int(data[data['0'] < 10].count())])
analyze.append(['10-12',int(data[(data['0'] >= 10)&(data['0'] < 12)].count())])
analyze.append(['12-15',int(data[(data['0'] >= 12)&(data['0'] < 15)].count())])
analyze.append(['15-20',int(data[(data['0'] >= 15)&(data['0'] < 20)].count())])
analyze.append(['20-30',int(data[(data['0'] >= 20)&(data['0'] < 30)].count())])
analyze.append(['30-60',int(data[(data['0'] >= 30)&(data['0'] < 60)].count())])
analyze.append(['大于60秒',int(data[data['0'] >= 60].count())])
analyze = pd.DataFrame(analyze)
analyze

       0      1
0  小于10秒   3462
1  10-12  32303
2  12-15   1240
3  15-20    380
4  20-30     91
5  30-60      6
6  大于60秒     14

In [30]:
analyze.to_excel('result.xlsx')

In [43]:
data[data['0'] >= 60].describe()

               0
count  14.000000
mean   74.000000
std     4.755564
min    70.000000
25%    70.000000
50%    70.500000
75%    79.750000
max    80.000000